dist/public/bootstrap-icons
node_modules
*.css
*.js
!webpack.config.js
*.map
dist/public/css/*.map
dist/views/partials/cookie_banner.mustache
.env
src/policies/cookiepolicy.ts
src/policies/privacypolicy.ts
src/policies/termsandconditions.ts
