
@mixin animation($name, $duration, $delay, $direction. $fill-mode, $iteration-count, $timing-function)
    animation-name: $name
    animation-duration: $duration,
    animation-delay: $delay
    animation-direction: $direction
    animation-fill-mode: $fill-mode
    animation-iteration-count: $iteration-count
    animation-timing-function: $timing-function