@use "sass:selector"
@use "sass:string"

@import "../partials/animations"
@import "../partials/background"
@import "../partials/global"

$div-margin: 20px auto
$div-results: "#users-results"
$description-class-style: (text-align: center, margin: $div-margin)

$bk-url-logged: string.insert($bk-url, "../" , 0)

$users-div-map: (height: 600px, width: 100%, border: 1px solid black, background-color: rgba(255,255,255,0.4))

@mixin users-div-style($map)
    #users-results
        @each $prop,$val in $map     
            #{$prop}: #{$val}

@mixin table-style($main-div)
    $td-n: 3
    #{$main-div} table
        thead th
            border-bottom-width: 0px
        tr td
            display: flex
            align-items: center
            &:not(.profile-image)
                padding: 15px
        @for $c from 1 through $td-n
            @if $c == 1
                width: 75px
                img
                    width: 100%
            @else if $c == 2
                tr td:nth-child(#{$c})
                    font-size: 18px
                    font-weight: bold
            @else if $c == 3
                tr td:nth-child(#{$c})
                    justify-content: flex-end

@include main-background($bk-url,2)
@include header-class()
@include container-style($container-class)
@include users-div-style($users-div-map)
@include table-style($div-results)




        