@use "sass:selector"
@use "sass:string"

@import "../partials/_animations"
@import "../partials/_background"
@import "../partials/_global"

$div-margin: 20px auto
$description-class-style: (text-align: center, margin: $div-margin)

$bk-url-logged: string.insert($bk-url, "../" , 0)
//@debug $bk-url-logged

@include main-background($bk-url-logged)
@include header-class()
@include container-style('.container')







        