@use "sass:selector"
@use "sass:string"
@use "sass:color"

@import "../partials/animations"
@import "../partials/background"
@import "../partials/global"

$div-margin: 20px auto
$description-class-style: (text-align: center, margin: $div-margin)

$bk-url-logged: string.insert($bk-url, "../" , 0)
//@debug $bk-url-logged

$profile-image-div-bkcolor: color.adjust(grey, $alpha: -0.9)
$cover-image-div-bkcolor: color.adjust(grey, $alpha: -0.9)

@mixin left-side-style()
    .left-side
        @media only screen and (min-width: #{$bs-breakpoint-md})
            width: 25%
        .profile-image
            background-color: $profile-image-div-bkcolor
            width: 100%
            height: 150px

@mixin right-side-style()
    .right-side
        @media only screen and (min-width: #{$bs-breakpoint-md})
            width: 75%
        .cover-image
            background-color: $cover-image-div-bkcolor
            width: 100%
            height: 300px

@mixin content-style()
    #{$container-class}
        position: fixed
        .content
            @include left-side-style()
            @include right-side-style()
        
@include main-background($bk-url,2)
@include header-class()
@include container-style($container-class)
@include content-style()








        