@import 'global'

$div2_margin: 10px
$div2_padding: 30px

//number of fieldset children
$fsetChildren: 4

@mixin logindiv-style()
    margin: $div2_margin
    padding: $div2_padding
    background-color: rgba(60, 179, 113, 0.4)

@mixin fieldset-style()
    @for $i from 1 through $fsetChildren
        div:nth-of-type(#{$i})
            margin: $FormDiv_margin
            @if $i == 1 or $i == 2
                display: $FormDiv_display
                flex-direction: $FormDiv_fDir
                label
                    margin: $FormLabelText_margin
                input
                    height: $FormTextInput_height
                    width: $FormTextInput_width
            @else if $i == 3  
                input
                    margin: $FormCb_margin  
            @else
                display: flex
                justify-content: space-around
                button
                    padding: $FormButton_padding

@mixin notsubscribed-style()
    margin: $div2_margin
    padding: $div2_padding
    text-align: center
    background-color: rgba(255, 165, 0, 0.7) //gold

.container
    @include container-style()

.loginDiv
    @include logindiv-style()

fieldset
    @include fieldset-style()

.notSubscribed
    @include notsubscribed-style()
