@use "sass:selector"
@use "sass:string"

$div-margin: 20px auto
$description-class-style: (text-align: center, margin: $div-margin)
$header-class-style: (font-size: 24px, text-align: center, margin: $div-margin )

@mixin description-class()
    .description
        @each $prop,$val in $description-class-style
            #{$prop}: #{$val}
    @include description-class-divs(".description")

@mixin description-class-divs($description-class)
    $n-divs: 3
    @for $i from 1 through $n-divs
        $selector: selector.nest($description-class,"div")
        $selector: selector.append($selector,":nth-child(#{$i})")
        @debug $selector
        #{$selector}
            padding: 25px 0px
            font-size: 18px
            font-style: italic
            font-weight: bolder

@mixin header-class()
    .header
        h1
            @each $prop,$val in $header-class-style
                #{$prop}: #{$val}

@include description-class()
@include header-class()







        