@import 'partials/global'
@import "partials/background"

$div2_margin: 10px
$div2_padding: 30px
$login-form-id: "fLogin"

//number of fieldset children
$fsetChildren: 4

@mixin login-form()
    ##{$login-form-id}
        margin-top: 30px
        fieldset
            legend
                text-align: center
            .container-fluid
                .row
                    margin-top: 25px
                .row:last-child
                    @media only screen and(min-width: 0px)
                        #bLogin
                            margin-right: button-margin(0px)
                        #bReset
                            margin-left: button-margin(0px)
                    @media only screen and(min-width: #{$bs-breakpoint-md})
                        #bLogin
                            margin-right: button-margin($bs-breakpoint-md)
                        #bReset
                            margin-left: button-margin($bs-breakpoint-md)

@mixin notsubscribed-style()
    margin: $div2_margin
    padding: $div2_padding
    text-align: center
    background-color: rgba(255, 165, 0, 0.7) //gold


@include container-style('.container')
@include login-form()

.notSubscribed
    @include notsubscribed-style()

@include main-background($bk-url)