@use "sass:map"
@use "modules/globals"
    
@import 'partials/global'
@import "partials/background"
@import "partials/_animations"



$div2_margin: 40px 10px 10px 10px
$div2_padding: 30px
$login-form-id: "fLogin"

//number of fieldset children
$fsetChildren: 4

@mixin login-form()
    $bs-breakpoint-xsm: map.get(globals.$bs-breakpoints,'xsm')
    $bs-breakpoint-md: map.get(globals.$bs-breakpoints,'md')
    ##{$login-form-id}
        fieldset
            legend
                text-align: center
            .container-fluid
                .row
                    margin-top: $bs-row-margin-top
                .row:last-child
                    @media only screen and(min-width: #{$bs-breakpoint-xsm})
                        #bLogin
                            margin-right: globals.button-margin(0px)
                        #bReset
                            margin-left: globals.button-margin(0px)
                    @media only screen and(min-width: #{$bs-breakpoint-md})
                        #bLogin
                            margin-right: globals.button-margin($bs-breakpoint-md)
                        #bReset
                            margin-left: globals.button-margin($bs-breakpoint-md)

@mixin notsubscribed-style()
    margin: $div2_margin
    padding: $div2_padding
    text-align: center
    background-color: rgba(255, 165, 0, 0.7) //gold


@include container-style($container-class)
@include login-form()

.notSubscribed
    @include notsubscribed-style()

.loginDiv
    position: relative

@include main-background($bk-url,1)
@include move-appareance('.loginDiv')
