@import 'partials/global'
@import "partials/background"

$subscribe-form-id: "fSubscribe"

@mixin subscribe-form()
    ##{$subscribe-form-id}
        fieldset
            legend
                text-align: center
            .container-fluid
                .row
                    margin-top: 25px
                .row:nth-last-child(2)
                    @media only screen and (min-width: 0px)
                        #bSubscribe
                            margin-right: button-margin(0px)
                        #bReset
                            margin-left: button-margin(0px)
                    @media only screen and (min-width: #{$bs-breakpoint-md})
                        #bSubscribe
                            margin-right: button-margin($bs-breakpoint-md)
                        #bReset
                            margin-left: button-margin($bs-breakpoint-md)

@include container-style('.container')

/* .subscribeDiv
    background-color: rgba(106, 90, 205, 0.5) //purple */

/* fieldset
    @include fieldset-style() */

@include main-background($bk-url)
@include subscribe-form()