@import 'partials/global'
@import "partials/background"

$fsetChildren: 6

@mixin fieldset-style()
    @for $i from 1 through $fsetChildren
        div:nth-of-type(#{$i})
            margin: $FormDiv_margin
            @if $i >= 1 and $i <= 4
                display: $FormDiv_display
                flex-direction: $FormDiv_fDir
                label
                    margin: $FormLabelText_margin
                input
                    height: $FormTextInput_height
                    width: $FormTextInput_width
            @else if $i == 5
                input
                    margin: $FormCb_margin
            @else
                display: flex
                justify-content: space-around
                button
                    padding: $FormButton_padding


.container
    @include container-style()

.subscribeDiv
    background-color: rgba(106, 90, 205, 0.5) //purple

fieldset
    @include fieldset-style()

@include main-background($bk-url)