
//This is the cookiepolicy.ts example file

export default class CookiePolicy{

    /**
     * Get the full cookie policy document
     * @returns 
     */
    public static getDocument(): string{
        return ``;
    }
}