//This is the privacypolicy.ts example file

export default class PrivacyPolicy{

    /**
     * Get the privacy policy document
     * @returns 
     */
    public static getDocument(): string{
        return ``;
    }
}