
//This is the termsandconditions.ts example file

export default class TermsAndConditions{

    /**
     * Get the full terms and conditions document
     * @returns 
     */
    public static getDocument(): string{
        return ``;
    }
}